//Background Colors
$light-backgroundcolor: #2F658C;
$moderate-backgroundcolor: #244F6E;
$dark-backgroundcolor: #163145;

// Text Colors
$light-textcolor: #ffff;
$moderate-textcolor: #E5E9F3;
$dark-textcolor: #767D92;

// Accents
$accent-color: #34739F;
$inactive-color: #C66E6E;
$active-color: #83BE90;

// Motion
$clicked-hover-color: #00FFFF;

// :root {
//     //Background Colors
//     --light-backgroundcolor: #2F658C;
//     --moderate-backgroundcolor: #244F6E;
//     --dark-backgroundcolor: #163145;

//     // Text Colors
//     --light-textcolor: #ffff;
//     --moderate-textcolor: #E5E9F3;
//     --dark-textcolor: #767D92;

//     // Accents
//     --accent-color: #34739F;
//     --inactive-color: #C66E6E;
//     --active-color: #83BE90;

//     // Motion
//     --clicked-hover-color: #00FFFF;
// }